.header {
  padding: 20px 0;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
}

.header__navigation-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header__navigation-logo-icon {
  border-radius: 20px;
  background-color: var(--primary-color);
  fill: var(--white-color);
}

.header__navigation-logo_title {
  font-family: var(--medium-font-family);
  font-weight: bold;
  font-size: 20px;
  margin-left: 8px;
}

.header__navigation-list {
  display: flex;
  align-items: center;
}

.header__navigation-item:hover:not(:last-child) {
  cursor: pointer;
  background-color: #fdc152;
}

.header__navigation-item:first-child {
  padding: 12px 28px;
}

.header__navigation-item:not(:last-child) {
  border-radius: 40px;
  background-color: var(--primary-color);
  color: var(--white-color);
  margin-right: 25px;
}
