<header class="header">
  <div class="container">
    <nav class="header__navigation">
      <a
        class="header__navigation-logo"
        href="./index.html"
        aria-label="Site logo"
      >
        <svg class="header__navigation-logo-icon" width="32" height="32">
          <use href="{=$icon-path}"></use>
        </svg>
        <p class="header__navigation-logo_title">Food Boutique</p>
      </a>
      <div class="header__navigation-list">
        <div class="header__navigation-item">
          <a class="header__navigation-link {=$highlight-act}" href="#">Home</a>
        </div>

        <button class="basket-btn">
          <a class="basket-btn-link {=$highlight-act}" href="#">
            <svg width="18" height="18">
              <use href="../public/sprite.svg#shopping-cart"></use>
            </svg>
          </a>
        </button>

        <div class="header__navigation-item">
          <a class="header__navigation-link {=$highlight-curr}" href="#"
            >CART</a
          >
        </div>
      </div>
    </nav>
  </div>
</header>
